@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Pacifico&text=Pure");
@import url("//fonts.googleapis.com/css?family=Roboto:700&text=css");
@import url("//fonts.googleapis.com/css?family=Kaushan+Script&text=!");
* {
  color: black;
  margin: 0px;
  padding: 0px; }

a {
  color: black;
  text-decoration: none; }

a:visited {
  color: black;
  text-decoration: none; }

a:hover {
  color: black;
  text-decoration: none; }

a:link {
  color: black;
  text-decoration: none; }

a:active {
  color: black;
  text-decoration: none; }

body {
  /* Задний фон */
  background: url("../img/bg.jpg") no-repeat;
  background-attachment: fixed;
  /*Задний фон картинки фиксированный*/
  width: 100%;
  min-height: 100vh;
  background-size: cover; }

.bg_toning {
  /* Цвет и прозрачность альфа канала заднего фона */
  background: rgba(192, 192, 192, 0.7);
  width: 100%;
  min-height: 100vh; }

.screen {
  width: 100%;
  min-height: 90vh; }

.conteiner_al {
  width: 97vw;
  height: 10vw;
  border-bottom: solid;
  box-shadow: 0px 3px 20px 1px black; }

.conteiner_all {
  width: 97vw;
  height: 10vw;
  border-bottom: solid;
  box-shadow: 0px 3px 20px 1px black; }

.row {
  margin: 0;
  padding: 0; }

/* Вращающийся куб */
.cube .face1, .cube .face2, .cube .face3, .cube .face4, .cube .face5, .cube .face6 {
  position: absolute;
  width: 5vw;
  height: 5vw;
  background: no-repeat;
  background-size: 100% 100%;
  backface-visibility: visible;
  background-image: url("../img/Logo.jpg");
  border: 1px solid;
  box-shadow: 0px 0px 1px 1px black; }

@keyframes ani {
  to {
    transform: rotate3d(2, 3, 2, 360deg); } }

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vw; }

.cube {
  display: inline-block;
  position: relative;
  width: 5vw;
  height: 5vw;
  transform-style: preserve-3d;
  animation-name: ani;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  perspective: 0px;
  perspective-origin: center; }
  .cube .face1 {
    transform: translateZ(2.5vw);
    background-color: antiquewhite; }
  .cube .face2 {
    transform: rotateY(-180deg) translateZ(2.5vw); }
  .cube .face3 {
    transform: rotateX(90deg) translateZ(2.5vw); }
  .cube .face4 {
    transform: rotateX(90deg) rotateY(180deg) translateZ(2.5vw); }
  .cube .face5 {
    transform: rotateY(90deg) translateZ(2.5vw); }
  .cube .face6 {
    transform: rotateY(-90deg) translateZ(2.5vw); }

/* Service Center */
.servvice_name {
  display: block;
  text-align: center;
  padding: 2vw 0 0 0; }

.contacts_header {
  text-align: center;
  font-size: 10px; }

.stage {
  display: flex;
  transform-style: preserve-3d;
  text-align: center; }

.layer {
  transform-style: preserve-3d;
  animation: anim_text 2s infinite alternate ease-in-out -7.5s;
  animation-fill-mode: forwards;
  transform: rotateY(10deg) rotateX(10deg) translateZ(0); }

.layer:after {
  font: 4vw/0.65 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
  content: 'Service\A Center';
  white-space: pre;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  color: whitesmoke;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13); }

.layer:nth-child(1):after {
  transform: translateZ(0px); }

.layer:nth-child(2):after {
  transform: translateZ(-1.5px); }

.layer:nth-child(3):after {
  transform: translateZ(-3px); }

.layer:nth-child(4):after {
  transform: translateZ(-4.5px); }

.layer:nth-child(5):after {
  transform: translateZ(-6px); }

.layer:nth-child(6):after {
  transform: translateZ(-7.5px); }

.layer:nth-child(7):after {
  transform: translateZ(-9px); }

.layer:nth-child(8):after {
  transform: translateZ(-10.5px); }

.layer:nth-child(9):after {
  transform: translateZ(-12px); }

.layer:nth-child(10):after {
  transform: translateZ(-13.5px); }

.layer:nth-child(11):after {
  transform: translateZ(-15px); }

.layer:nth-child(12):after {
  transform: translateZ(-16.5px); }

.layer:nth-child(13):after {
  transform: translateZ(-18px); }

.layer:nth-child(14):after {
  transform: translateZ(-19.5px); }

.layer:nth-child(15):after {
  transform: translateZ(-21px); }

.layer:nth-child(16):after {
  transform: translateZ(-22.5px); }

.layer:nth-child(17):after {
  transform: translateZ(-24px); }

.layer:nth-child(18):after {
  transform: translateZ(-25.5px); }

.layer:nth-child(19):after {
  transform: translateZ(-27px); }

.layer:nth-child(20):after {
  transform: translateZ(-28.5px); }

.layer:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25); }

.layer:nth-child(n+11):after {
  -webkit-text-stroke: 15px gold;
  text-shadow: 6px 0 6px #4d4100, 5px 5px 5px #332b00, 0 6px 6px #4d4100; }

.layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px #ccac00; }

.layer:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1); }

.layer:first-child:after {
  color: white;
  text-shadow: none; }

@keyframes anim_text {
  100% {
    transform: rotateY(-1deg) rotateX(-1deg); } }

/* Контакты */
.anm_tel {
  transform-style: preserve-3d;
  text-align: center; }

@keyframes anm_text {
  100% {
    transform: rotateY(-4deg) rotateX(-3deg) rotateZ(-2deg); } }

.ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vw; }

.conntakts {
  text-space-collapse: inherit;
  white-space: nowrap; }
  .conntakts .contacts_tel .conteiner_tel {
    display: inline-block;
    line-height: 2vh; }
    .conntakts .contacts_tel .conteiner_tel .img_tel {
      display: inline-block;
      background: url("../img/telephone.svg");
      width: 1.5vw;
      height: 1.5vw;
      background-size: 100% 100%;
      margin-right: 0.5vw; }
    .conntakts .contacts_tel .conteiner_tel .anim_tel {
      color: black;
      font-size: 2vw;
      font-weight: 600;
      transform-style: preserve-3d;
      animation: anm_text 5s infinite alternate;
      animation-fill-mode: forwards;
      transform: rotateY(4deg) rotateX(3deg) rotateZ(2deg); }
    .conntakts .contacts_tel .conteiner_tel a {
      color: black;
      font-size: 1.5vw;
      font-weight: 600; }

.conntakts a:hover {
  text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.3); }

/*График Работы*/
.graf {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vw; }

.grafick {
  display: flex;
  width: 80%;
  height: 80%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(192, 192, 192, 0.6);
  border-radius: 5px;
  box-shadow: 2px 2px 10px 1px black;
  user-select: none; }
  .grafick .grafick_cont {
    display: inline-block;
    align-items: center;
    justify-content: center; }
    .grafick .grafick_cont .grafic_header {
      display: inline-block;
      width: 100%;
      font-size: 1.5vw;
      padding-bottom: 1vw; }
    .grafick .grafick_cont .grafick_time {
      display: inline-block;
      width: 100%;
      font-size: 1vw;
      font-weight: 700; }

/* Адресс Шапки*/
.adress {
  display: flex;
  width: 100%;
  height: 10vw;
  align-items: center;
  justify-content: center; }
  .adress_header {
    display: inline-block;
    font-size: 1.5vw;
    color: black;
    font-weight: 600; }
  .adress a:hover {
    text-shadow: 2px -2px 1px rgba(0, 0, 0, 0.3); }

/* Список шапки */
.lists_btn, .lists_btn_top {
  width: 100%;
  height: 3vw;
  border: 1px solid black;
  border-radius: 10px; }

.sub, .btn_hd {
  display: inline-block;
  margin-top: 1vw;
  margin-left: 1vw;
  height: 100%;
  width: 100%; }

.btn_text {
  display: inline-block;
  font-size: 1.5vw;
  font-weight: 600; }

.lists {
  display: inline-block;
  width: 100%; }
  .lists_btn {
    background-color: #8f5316;
    position: relative;
    box-shadow: 2px 2px 10px 1px black;
    z-index: 3; }
    .lists_btn_top {
      background-color: gold;
      top: -5px;
      position: relative;
      text-align: center;
      transition-duration: 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none; }

.list_cont_sub {
  cursor: pointer; }
  .list_cont_sub ul {
    display: none;
    width: 90%;
    position: absolute;
    z-index: 99;
    background: silver;
    font-size: 1vw;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px 1px black;
    line-height: 1.3vw; }
  .list_cont_sub li:hover a {
    color: #c00000;
    font-size: 1.2vw;
    font-weight: 600; }

.sub:hover .lists_btn_top {
  top: -2px;
  background: #f4c9a4; }

.btn_hd:active .lists_btn_top {
  top: -2px;
  background: #f4c9a4; }

.lists:hover {
  cursor: pointer; }

.sub:hover .ul {
  display: inline-block;
  background: #f4c9a4; }

.main_ {
  min-height: 100vmin; }

/* Акции*/
.action_cont {
  display: flex;
  width: 100%;
  height: 15vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  background: rgba(192, 192, 192, 0.6);
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 5px 1px black;
  margin-top: 3vw;
  animation: anm_text 10s infinite alternate;
  animation-fill-mode: forwards; }

.action_main_cont {
  display: flex;
  height: 15vw;
  align-items: center;
  justify-content: center; }

.action_img {
  width: 10vw;
  height: 10vw;
  background-image: url("../img/a_l.png");
  background-size: 100% 100%; }

.str {
  font-size: 2vw; }

.action .action_main .action_text_main {
  display: inline-block;
  width: 100%;
  font-size: 1.6vw;
  line-height: 3vw; }

.action .action_main .action_text_end {
  display: inline-block;
  width: 100%;
  font-size: 2.5vw;
  color: #ff0800; }

@keyframes anm_text {
  50% {
    transform: rotateY(1deg) rotateX(-2deg) rotateZ(1deg); }
  100% {
    transform: rotateY(-1deg) rotateX(2deg) rotateZ(-1deg); } }

.center {
  display: flex;
  width: 100%;
  min-height: 30vw;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vw;
  user-select: none; }

.center_main {
  display: inline-block;
  max-width: 90%;
  min-height: 20vw;
  font-size: 2vw;
  background: rgba(192, 192, 192, 0.6);
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 5px 1px black; }
  .center_main ul {
    margin: 3vw 2vw; }
  .center_main li {
    margin: 2vw; }

/* Нижняя часть сайта */
.footer_cont {
  display: flex;
  width: 100%;
  max-width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0; }

.footer_container {
  /* Нижняя часть сайта */
  display: flex;
  width: 100%;
  height: 4vw;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 5px 10px 5px black;
  border-radius: 5px;
  align-items: center;
  justify-content: center; }
  .footer_container .foot_cont {
    display: inline-block;
    width: 100%; }
    .footer_container .foot_cont .footerAdress {
      display: inline-block;
      font-size: 1vw;
      margin-left: 2vw; }
      .footer_container .foot_cont .footerAdress a {
        color: white; }
  .footer_container .foot_tel_one {
    display: inline-block;
    width: 100%;
    text-align: left; }
    .footer_container .foot_tel_one .footerTel {
      display: inline-block;
      font-size: 1.5vw; }
      .footer_container .foot_tel_one .footerTel a {
        color: white; }
  .footer_container .foot_tel_two {
    display: inline-block;
    width: 100%;
    text-align: left; }
    .footer_container .foot_tel_two .footerTel {
      display: inline-block;
      font-size: 1.5vw; }
      .footer_container .foot_tel_two .footerTel a {
        color: white; }
  .footer_container .foot_by {
    display: inline-block;
    width: 100%;
    text-align: right;
    padding-right: 3vw; }
    .footer_container .foot_by .by {
      display: inline-block; }
      .footer_container .foot_by .by strong {
        color: white;
        font-size: 1vw; }

@media (max-width: 1200px) {
  /* если ширина меньше 991 */ }
