@import url('//fonts.googleapis.com/css?family=Pacifico&text=Pure');
@import url('//fonts.googleapis.com/css?family=Roboto:700&text=css');
@import url('//fonts.googleapis.com/css?family=Kaushan+Script&text=!');


* {
    color: black;
    margin:0px;
    padding: 0px;
}
a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
a:link {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}
body { /* Задний фон */
    background: url('../img/bg.jpg') no-repeat;
    background-attachment: fixed; /*Задний фон картинки фиксированный*/
    width: 100%;
    min-height: 100vh;
    background-size: cover;
}
.bg_toning { /* Цвет и прозрачность альфа канала заднего фона */
    background: rgba(192, 192, 192, 0.7);
    width: 100%;
    min-height: 100vh;
}
.screen {
    width: 100%;
    min-height: 90vh;
}
.conteiner_al {
    width: 97vw;
    height: 10vw;
    border-bottom: solid;
    box-shadow: 0px 3px 20px 1px black;
}
.conteiner_all {
    width: 97vw;
    height: 10vw;
    border-bottom: solid;
    box-shadow: 0px 3px 20px 1px black;
}
.row{
    margin:0;
    padding:0;
}

/* Вращающийся куб */
%cube_rotate {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background:no-repeat;
    background-size: 100% 100%;
    backface-visibility: visible;
    background-image: url('../img/Logo.jpg');
    border: 1px solid;
    box-shadow: 0px 0px 1px 1px black;
}
@keyframes ani {
    to {
        transform: rotate3d(2, 3, 2, 360deg);
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height:10vw;
}
.cube {
    display: inline-block;
    position: relative;
    width: 5vw;
    height: 5vw;
    transform-style: preserve-3d;



    .face1 {
        @extend %cube_rotate;
        transform: translateZ(2.5vw);
        background-color: antiquewhite;
    }

    .face2 {
        @extend %cube_rotate;
        transform: rotateY(-180deg) translateZ(2.5vw);
    }

    .face3 {
        @extend %cube_rotate;
        transform: rotateX(90deg) translateZ(2.5vw);
    }

    .face4 {
        @extend %cube_rotate;
        transform: rotateX(90deg) rotateY(180deg) translateZ(2.5vw);
    }

    .face5 {
        @extend %cube_rotate;
        transform: rotateY(90deg) translateZ(2.5vw);
    }

    .face6 {
        @extend %cube_rotate;
        transform: rotateY(-90deg) translateZ(2.5vw);
    }

    animation-name: ani;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    perspective: 0px;
    perspective-origin: center;
}

/* Service Center */

.servvice_name {
    display: block;
    text-align: center;
    padding:  2vw 0 0 0;
}

.contacts_header {
    text-align: center;
    font-size: 10px;
}

.stage {
    display: flex;
    transform-style: preserve-3d;
    text-align: center;
}


.layer {
    transform-style: preserve-3d;
    animation: anim_text 2s infinite alternate ease-in-out -7.5s;
    animation-fill-mode: forwards;
    transform: rotateY(10deg) rotateX(10deg) translateZ(0);
}

.layer:after {
    font: 4vw/0.65 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
    content: 'Service\A Center';
    white-space: pre;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    color: darken(#fff, 4%);
    letter-spacing: -2px;
    text-shadow: 4px 0 10px hsla(0, 0%, 0%, .13);
}

$i: 1;
$NUM_LAYERS: 20;

@for $i from 1 through $NUM_LAYERS {
    .layer:nth-child(#{$i}):after {
        transform: translateZ(($i - 1) * -1.5px);
    }
}

.layer:nth-child(n+#{round($NUM_LAYERS/2)}):after {
    -webkit-text-stroke: 3px hsla(0, 0%, 0%, .25);
}

.layer:nth-child(n+#{round($NUM_LAYERS/2 + 1)}):after {
    -webkit-text-stroke: 15px rgba(255, 215, 0, 1);
    text-shadow: 6px 0 6px darken(rgba(255, 215, 0, 1),35%), 5px 5px 5px darken(rgba(255, 215, 0, 1),40%), 0 6px 6px darken(rgba(255, 215, 0, 1),35%);
}

.layer:nth-child(n+#{round($NUM_LAYERS/2 + 2)}):after {
    -webkit-text-stroke: 15px darken(rgba(255, 215, 0, 1), 10%);
}

.layer:last-child:after {
    -webkit-text-stroke: 17px hsla(0, 0%, 0%, .1);
}

.layer:first-child:after {
    color: white;
    text-shadow: none;
}

@keyframes anim_text {
    100% {
        transform: rotateY(-1deg) rotateX(-1deg);
    }
}


/* Контакты */
.anm_tel {
    transform-style: preserve-3d;
    text-align: center;
}


@keyframes anm_text {
    100% {
        transform: rotateY(-4deg) rotateX(-3deg) rotateZ(-2deg);
    }
}

.ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
}
.conntakts {
    text-space-collapse: inherit;
    white-space: nowrap;

    .contacts_tel {
        .conteiner_tel {
            display: inline-block;
            line-height: 2vh;

            .img_tel {
                display: inline-block;
                background: url('../img/telephone.svg');
                width: 1.5vw;
                height: 1.5vw;
                background-size: 100% 100%;
                margin-right: 0.5vw;
            }

            .anim_tel {
                color: black;
                font-size: 2vw;
                font-weight: 600;
                transform-style: preserve-3d;
                animation: anm_text 5s infinite alternate;
                animation-fill-mode: forwards;
                transform: rotateY(4deg) rotateX(3deg) rotateZ(2deg);
            }

            a {
                color: black;
                font-size: 1.5vw;
                font-weight: 600;
            }
        }
    }
}

.conntakts a:hover {
    text-shadow: 2px -2px 1px rgba(0,0,0, 0.3);
}

/*График Работы*/


.graf {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vw;
}

.grafick {
    display: flex;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(192, 192, 192, 0.6);
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px black;
    user-select: none;

    .grafick_cont {
        display: inline-block;
        align-items: center;
        justify-content: center;

        .grafic_header {
            display: inline-block;
            width: 100%;
            font-size: 1.5vw;
            padding-bottom:1vw;
        }

        .grafick_time {
            display: inline-block;
            width: 100%;
            font-size: 1vw;
            font-weight: 700;
        }
    }
}


/* Адресс Шапки*/

.adress {
    display: flex;
    width: 100%;
    height: 10vw;
    align-items: center;
    justify-content: center;

    &_header {
        display: inline-block;
        font-size: 1.5vw;
        color: black;
        font-weight: 600;
    }

    a:hover {
        text-shadow: 2px -2px 1px rgba(0,0,0, 0.3);
    }
}






/* Список шапки */

%btn_size{
    width:100%;
    height:3vw;
    border:1px solid black;
    border-radius: 10px;
}

.sub, .btn_hd {
    display: inline-block;
    margin-top: 1vw;
    margin-left: 1vw;
    height: 100%;
    width: 100%;
}
.btn_text {
    display: inline-block;
    font-size: 1.5vw;
    font-weight: 600;
}
.lists {
    display: inline-block;
    width: 100%;


    &_btn {
        @extend %btn_size;
        background-color: rgba(143, 83, 22, 1);
        position: relative;
        box-shadow: 2px 2px 10px 1px black;
        z-index: 3;

        &_top {
            @extend %btn_size;
            background-color: rgba(255, 215, 0, 1);
            top: -5px;
            position: relative;
            text-align: center;
            transition-duration: 0.5s;
            display: flex;
            align-items: center;
            justify-content: center;
           user-select:none;
        }
    }
}
.list_cont {
    &_sub {
        ul {
            display: none;
            width: 90%;
            position: absolute;
            z-index: 99;
            background: rgba(192, 192, 192, 1);
            font-size: 1vw;
            padding: 10px 15px 10px 15px;
            border-radius: 10px;
            border: 2px solid black;
            box-shadow: 2px 2px 5px 1px black;
            line-height: 1.3vw;
        }

        cursor: pointer;

        li:hover a {
            color: rgb(192, 0, 0);
            font-size: 1.2vw;
            font-weight: 600;
        }
    }
}

.sub:hover .lists_btn_top {
    top: -2px;
    background: rgba(244, 201, 164, 1);
}
.btn_hd:active .lists_btn_top {
    top: -2px;
    background: rgba(244, 201, 164, 1);
}
.lists:hover{
    cursor:pointer;
}

.sub:hover .ul {
    display: inline-block;
    background: rgba(244, 201, 164, 1);
}


.main_ {
    min-height: 100vmin;

}

/* Акции*/

.action_cont {
    display: flex;
    width: 100%;
    height: 15vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    background: rgba(192, 192, 192, 0.6);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px 1px black;
    margin-top: 3vw;
    animation: anm_text 10s infinite alternate;
    animation-fill-mode: forwards;
}
.action_main_cont {
    display: flex;
    height: 15vw;
    align-items: center;
    justify-content: center;
}
.action_img {
    width: 10vw;
    height: 10vw;
    background-image: url('../img/a_l.png');
    background-size: 100% 100%;
}
.str {
    font-size: 2vw;
}
.action {

    .action_main {
        .action_text_main {
            display: inline-block;
            width: 100%;
            font-size: 1.6vw;
            line-height:3vw;

        }

        .action_text_end {
            display: inline-block;
            width: 100%;
            font-size: 2.5vw;
            color: rgb(255, 8, 0);
        }
    }
}

@keyframes anm_text {
    50% {
        transform: rotateY(1deg) rotateX(-2deg) rotateZ(1deg);
    }
    100% {
        transform: rotateY(-1deg) rotateX(2deg) rotateZ(-1deg);
    }
}


.center {
    display: flex;
    width: 100%;
    min-height: 30vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vw;
    user-select: none;
}
.center_main {
    display:inline-block;
    max-width:90%;
    min-height: 20vw;
    font-size: 2vw;
    background: rgba(192, 192, 192, 0.6);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px 1px black;
    ul{
        margin:3vw 2vw;
    }
    li{
         margin:2vw;   }
}

/* Нижняя часть сайта */

.footer_cont {
    display: flex;
    width: 100%;
    max-width: 100%;
    text-align:center;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
}
.footer_container { /* Нижняя часть сайта */
    display: flex;
    width: 100%;
    height: 4vw;
    background: rgba(0,0,0,0.8);
    box-shadow: 0px 5px 10px 5px black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

    .foot_cont {
        display: inline-block;
        width: 100%;

        .footerAdress {
            display: inline-block;
            font-size: 1vw;
            margin-left: 2vw;

            a {
                color: white;
            }
        }
    }

    .foot_tel_one {
        display: inline-block;
        width: 100%;
        text-align: left;

        .footerTel {
            display: inline-block;
            font-size: 1.5vw;

            a {
                color: white;
            }
        }
    }

    .foot_tel_two {
        display: inline-block;
        width: 100%;
        text-align: left;

        .footerTel {
            display: inline-block;
            font-size: 1.5vw;

            a {
                color: white;
            }
        }
    }

    .foot_by {
        display: inline-block;
        width: 100%;
        text-align: right;
        padding-right:3vw;
        .by {
            display: inline-block;

            strong {
                color: white;
                font-size: 1vw;
            }
        }
    }
}
@media (max-width: 1200px) { /* если ширина меньше 991 */

}
