
* {
    color: black;
    margin:0px;
    padding: 0px;
}
a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
a:link {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}
body { /* Задний фон */
    background: url('../img/bg.jpg') 0 0/100% no-repeat;
    background-attachment: fixed; /*Задний фон картинки фиксированный*/
    min-height: 100%;
    height: 100%;
}
.bg_toning { /* Цвет и прозрачность альфа канала заднего фона */
    background: rgba(192, 192, 192, 0.7);
    width: 100%;
    z-index: 1;
    min-height: 100%;
}

.conteiner_all {
    width: 97vw;
    height: 15vh;
    border-bottom: solid;
    box-shadow: 0px 3px 20px 1px black;
}
.row{
    margin:0;
    padding:0;
}

/* Вращающийся куб */
%cube_rotate {
    position: absolute;
    width: 10vh;
    height: 10vh;
    background-size: 100% 100%;
    backface-visibility: visible;
    background-image: url('../img/Logo.jpg');
    border: 1px solid;
    box-shadow: 0px 0px 1px 1px black;
}
@keyframes ani {
    to {
        transform: rotate3d(2, 3, 2, 360deg);
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height:15vh;
}
.cube {
    display: inline-block;
    position: relative;
    width: 10vh;
    height: 10vh;
    transform-style: preserve-3d;



    .face1 {
        @extend %cube_rotate;
        transform: translateZ(5vh);
        background-color: antiquewhite;
    }

    .face2 {
        @extend %cube_rotate;
        transform: rotateY(-180deg) translateZ(5vh);
    }

    .face3 {
        @extend %cube_rotate;
        transform: rotateX(90deg) translateZ(5vh);
    }

    .face4 {
        @extend %cube_rotate;
        transform: rotateX(90deg) rotateY(180deg) translateZ(5vh);
    }

    .face5 {
        @extend %cube_rotate;
        transform: rotateY(90deg) translateZ(5vh);
    }

    .face6 {
        @extend %cube_rotate;
        transform: rotateY(-90deg) translateZ(5vh);
    }

    animation-name: ani;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    perspective: 0px;
    perspective-origin: center;
}

.servvice_name {
    height: 15vh;
    margin-top:2vh;
}
.contacts_header {
    text-align: center;
    font-size: 5vh;
    margin: 1vh 0 10vh 0;
}

/* Контакты */
.ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}
.conntakts {
    text-align: center;

    .contacts_tel {
        .conteiner_tel {
            display: inline-block;


            .tel {
                display: inline-block;
                white-space: nowrap;

                a {
                    color: black;
                    font-size: 3vh;
                    font-weight: 600;

                    .img_tel {
                        display: inline-block;
                        margin-right: 1vh;
                        background: url('../img/telephone.svg');
                        width: 2vh;
                        height: 2vh;
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
}

.conntakts a:hover {
    text-shadow: 10px -5px 10px rgba(0,0,0, 0.7);
}
$btn_height: 5vh;
$btn_width: 20vw;

%btn_size{
    width:100%;
    height:5vh;
    border:1px solid black;
    border-radius: 10px;
}
/* Список шапки */
.sub {
    display: inline-block;
    margin-top: 4vh;
    margin-left: 1vh;
    height: 100%;
    width: 100%;
}
.btn_text {
    display: inline-block;
    font-size: 150%;
    font-weight: 600;
}
.lists {
    display: inline-block;
    width: 100%;


    &_btn {
        @extend %btn_size;
        background-color: rgba(143, 83, 22, 1);
        position: relative;
        box-shadow: 2px 2px 10px 1px black;
        z-index: 3;

        &_top {
            @extend %btn_size;
            background-color: rgba(255, 215, 0, 1);
            top: -5px;
            position: relative;
            text-align: center;
            transition-duration: 0.5s;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.list_cont {
    &_sub {
        ul {
            display: none;
            width: 100%;
            position: absolute;
            z-index: 99;
            background: rgba(192, 192, 192, 1);
            font-size: 20px;
            padding: 10px 15px 10px 15px;
            border-radius: 10px;
            border: 2px solid black;
            box-shadow: 2px 2px 5px 1px black;
            line-height: 35px;
        }

        cursor: pointer;

        li:hover a {
            color: rgb(192, 0, 0);
            font-size: 25px;
            font-weight: 600;
        }
    }
}

.sub:hover .lists_btn_top {
    top: -2px;
    background: rgba(244, 201, 164, 1);
}
.lists:hover{
    cursor:pointer;
}

.sub:hover .ul {
    display: inline-block;
    background: rgba(244, 201, 164, 1);
}


.main_ {
    min-height: 100vmin;
}


/* Нижняя часть сайта */
.footer_container { /* Нижняя часть сайта */
    width: 100%;
    height: 40px;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    box-shadow: 0px 5px 10px 5px black;
    border-radius: 5px;

    .foot_cont {
        display: inline-block;
        width: 30%;
        margin: 10px 0 0 30px;

        .footerAdress {
            display: inline-block;
            font-size: 20px;

            a {
                color: white;
            }
        }
    }

    .foot_tel_one {
        display: inline-block;
        width: 15%;
        text-align: center;

        .footerTel {
            display: inline-block;
            margin-top: 10px;
            font-size: 20px;

            a {
                color: white;
            }
        }
    }

    .foot_tel_two {
        display: inline-block;
        width: 20%;
        text-align: left;

        .footerTel {
            display: inline-block;
            margin-top: 10px;
            font-size: 20px;

            a {
                color: white;
            }
        }
    }

    .foot_by {
        display: inline-block;
        width: 30%;
        text-align: right;

        .by {
            margin-top: 10px;
            display: inline-block;

            strong {
                color: white;
                font-size: 15px;
            }
        }
    }
}